<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.ribbon.dao.WarehouseProductDao">

    <resultMap type="com.cloud.ribbon.po.WarehouseProduct" id="BaseResultMap">
        <result property="wpId" column="wp_id" jdbcType="INTEGER"/>
        <result property="productId" column="product_id"/>
        <result property="wId" column="w_id"/>
        <result property="currentCnt" column="current_cnt"/>
        <result property="lockCnt" column="lock_cnt"/>
        <result property="inTransitCnt" column="in_transit_cnt"/>
        <result property="averageCost" column="average_cost"/>
        <result property="modifiedTime" column="modified_time"/>
    </resultMap>

    <sql id="sqlColumns">
        'wp_id','product_id' , 'w_id' , 'current_cnt' , 'lock_cnt', 'in_transit_cnt' , 'average_cost' , 'modified_time'
    </sql>

    <select id="getById" resultType="com.cloud.ribbon.dao.WarehouseProductDao" resultMap="BaseResultMap">
		select
		 `wp_id`,`product_id`,`w_id`,`current_cnt`,`lock_cnt`,`in_transit_cnt`,`average_cost`,`modified_time`
		from warehouse_product where wp_id = #{wpId,jdbcType=INTEGER}
	</select>

    <select id="queryWarehouseProduct" parameterType="com.cloud.ribbon.dao.WarehouseProductDao" resultMap="BaseResultMap">
        select
        `wp_id`,`product_id`,`w_id`,`current_cnt`,`lock_cnt`,`in_transit_cnt`,`average_cost`,`modified_time`
        from warehouse_product
        where 1 = 1
        <include refid="selectByConditionnWhereSql"/>
        order by modified_time desc
    </select>

    <sql id="selectByConditionnWhereSql">
        <if test="productId != null">
            and product_id = #{productId,jdbcType=INTEGER}
        </if>
    </sql>

    <insert id="insertWarehouseProduct" parameterType="com.cloud.ribbon.dao.WarehouseProductDao"
            useGeneratedKeys="true" keyProperty="wpId">
        INSERT INTO `warehouse_product`
        (`wp_id`,`product_id`,`w_id`,`current_cnt`,`lock_cnt`,`in_transit_cnt`,`average_cost`,`modified_time`)
        VALUES(#{wpId},#{productId},#{wId},#{currentCnt},#{lockCnt},#{inTransitCnt},#{averageCost},#{modifiedTime})
    </insert>

    <update id="update" parameterType="com.cloud.ribbon.dao.WarehouseProductDao">
        update warehouse_product
        <set>
            <if test="productId != null">`product_id` = #{productId}, </if>
            <if test="wId != null">`w_id` = #{wId}, </if>
            <if test="currentCnt != null">`current_cnt` = #{currentCnt}, </if>
            <if test="lockCnt != null">`lock_cnt` = #{lockCnt}, </if>
            <if test="inTransitCnt != null">`in_transit_cnt` = #{inTransitCnt}, </if>
        </set>
        where wp_id = #{wpId}
    </update>
</mapper>