<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="wpId" name="wpId" type="hidden" th:value="${warehouseProduct.wpId}">
							<div class="form-group">
								<label class="col-sm-2 control-label">商品ID：</label>
								<div class="col-sm-3">
									<input id="productId" name="productId" class="form-control" type="text" th:value="${warehouseProduct.productId}">
								</div>
								<label class="col-sm-2 control-label">仓库ID：</label>
								<div class="col-sm-3">
									<input id="wId" name="wId" class="form-control"
										   type="text" th:value="${warehouseProduct.wId}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">当前商品数量：</label>
								<div class="col-sm-8">
									<input id="currentCnt" name="currentCnt" class="form-control" type="text" th:value="${warehouseProduct.currentCnt}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button onclick="update()" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/appjs/warehouse/edit.js"></script>
</body>

</html>
